* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cabin', sans-serif;
	padding: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {

}

header .container .top {
	display: flex;
	position: relative;
	height: 100px;
	align-items: center;
}

.btn-menu {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 7px;
	color: #212121;
	left: 10px;
}

.btn-menu .close {
	font-size: 20px;
	transition: .5s;
}

.btn-menu.active .close {
	display: block;
}

.btn-menu.active .open, .btn-menu .close {
	display: none;
}

.btn-menu:hover .close {
	opacity: .5;
}

.link-logo {
	margin: auto;
}

.logo {
	width: 120px;
}

nav.navegacao {
	height: 0;
	overflow: hidden;
	transition: .3s;
}

nav.navegacao.active {
	height: 202px;
}

nav.navegacao .menu li + li {
	margin-top: 10px;
}

nav.navegacao .menu a {
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	letter-spacing: 1px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav.navegacao .menu {
	background: #212121;
	padding: 30px 0;
}

.btn-reservation {
	display: none;
}

/*Secao 6*/

.secao-2, .secao-6 {
	text-align: center;
	padding: 50px 0 70px;
}

.secao-2 .container, .secao-6 .container {
	display: grid;
	grid-row-gap: 40px;
}

.secao-2 .imagens {
	padding: 0 20px;
}

.secao-2 .imagens, .secao-6 .imagens {
	display: grid;
	grid-row-gap: 20px;
}

.secao-2 .imagens img, .secao-6 .imagens img {
	width: 100%;
}

.secao-6 .imagens {
	padding: 0 10px;
}

.secao-2 .textos p {
	max-width: 320px;
}

.secao-2 .textos h3 {
	color: #444444;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 1px;
}

.secao-2 .textos h3 + h3 {
	margin-top: 50px;
}

.secao-2 .textos h2, .secao-6 .textos h2 {
	color: #444444;
	font-size: 45px;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	letter-spacing: 1px;
}

.secao-2 .textos p, .secao-6 .textos p {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1px;
	margin: 40px auto;
	color: #000000;
}

.secao-6 .textos p {
	max-width: 370px;
}

.secao-6 .textos a {
	color: #444444;
	font-size: 20px;
	text-decoration: underline;
	letter-spacing: 1px;
	transition: .3s;
}

.secao-6 .textos a:hover {
	color: yellow;
}

/*Footer*/

footer {
	color: white;
	text-align: center;
}

footer .container {
	background: rgb(33, 33, 33);
	padding: 60px 0 0;
	display: grid;
	grid-template-columns: auto;
	grid-row-gap: 50px;
}

footer .titulo {
	font-size: 16px;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

footer .info {
	font-family: Arial;
	font-size: 15px;
}

footer p.info + p.info{
	margin-top: 20px;
}

footer .redes-sociais {
	display: flex;
	justify-content: center;
}

footer .redes-sociais li {
	margin: 0 10px;
}

footer .redes-sociais a {
	display: flex;
	color: #bbbbbb;
	padding: 7px;
	font-size: 15px;
	transition: .4s;
}

footer .redes-sociais a:hover {
	color: white;
}

footer .copy {
	font-family: Arial;
	font-size: 14px;
	line-height: 27px;
	padding: 40px 0;
	margin-top: 80px;
	max-width: 455px;
	margin-right: auto;
	margin-left: auto;
}

footer .copy a {
	color: #BBB;
	transition: .3s;
}

footer .copy a:hover {
	color: yellow;
}

footer .aoTopo {
	display: none;
}